# Java

/.gradle/
/build/
/bin/
/.classpath
/.project
/.settings/
coastal/.gradle/
coastal/.idea/
coastal/build/
coastal/out/
coastal/src/main/java/examples/tacas2017/Regex.java
eqv-coastal/src/examples/java/learning/Example.java
out/
.idea/
.attach_pid*

# Clojure
/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
